.navbar navbar-expand-sm bg-success
{
    color: rgb(255,255,255);
}
li.nav-item
{
    font: 30px Segoe UI, sans-serif;

}

ul.navbar-nav
{
    align:center;
}


.btn-rrss
{
    border-style: none;

}

.btn-ir-arriba {
	display:none;
	padding:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	border-style: none;

}

h1{
        font: 50px Segoe UI, sans-serif!important;
}

legend
{
        font: 30px Segoe UI, sans-serif!important;
}

p
{
 font: 25px Segoe UI, sans-serif!important;
}

label
{
     font: 20px Segoe UI, sans-serif!important;
}